    Ben Christensen
    December 5, 2018
    Math 402

In [26]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import Logit
from scipy import optimize
import statsmodels.api as sm

## 2.

In [55]:
Titanic = pd.read_csv("titanic.csv")

In [56]:
Titanic = Titanic.dropna(0, how='any', subset=["Survived"])

In [57]:
Titanic.head()

,Pclass,Survived,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Boat,Body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## (a)

In [58]:
df = pd.get_dummies(Titanic, columns=["Embarked"], drop_first = True)

In [59]:
df.head()

,Pclass,Survived,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Boat,Body,home.dest,Embarked_Q,Embarked_S
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,2,NaN,"St Louis, MO",0,1
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,11,NaN,"Montreal, PQ / Chesterville, ON",0,1
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,1
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,1
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,1

In [60]:
X= df[["Embarked_Q", "Embarked_S"]]
Y = df["Survived"]
X = sm.add_constant(X)
logit_model = Logit(Y,X).fit()
print(logit_model.summary())

Optimization terminated successfully.
         Current function value: 0.647951
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                 1309
Model:                          Logit   Df Residuals:                     1306
Method:                           MLE   Df Model:                            2
Date:                Wed, 05 Dec 2018   Pseudo R-squ.:                 0.02567
Time:                        11:05:39   Log-Likelihood:                -848.17
converged:                       True   LL-Null:                       -870.51
                                        LLR p-value:                 1.977e-10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2364      0.122      1.936      0.053      -0.003       0.476
Embarked_Q    -0.8216      0.224     -3.664      0.000      -1.261      -0.382
Embarked_S    -0.9328      0.141     -6.622      0.000      -1.209      -0.657
==============================================================================

Both of the city variables are statistically significant.

## (b)

In [61]:
df = pd.get_dummies(df, columns=["Sex", "Pclass"], drop_first=True)
df.head()

,Survived,Name,Age,Sibsp,Parch,Ticket,Fare,Cabin,Boat,Body,home.dest,Embarked_Q,Embarked_S,Sex_male,Pclass_2.0,Pclass_3.0
0,1.0,"Allen, Miss. Elisabeth Walton",29.0000,0.0,0.0,24160,211.3375,B5,2,NaN,"St Louis, MO",0,1,0,0,0
1,1.0,"Allison, Master. Hudson Trevor",0.9167,1.0,2.0,113781,151.5500,C22 C26,11,NaN,"Montreal, PQ / Chesterville, ON",0,1,1,0,0
2,0.0,"Allison, Miss. Helen Loraine",2.0000,1.0,2.0,113781,151.5500,C22 C26,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,1,0,0,0
3,0.0,"Allison, Mr. Hudson Joshua Creighton",30.0000,1.0,2.0,113781,151.5500,C22 C26,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,1,1,0,0
4,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.0000,1.0,2.0,113781,151.5500,C22 C26,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,1,0,0,0

In [62]:
df = df.dropna(0, how='any', subset=["Embarked_Q", "Embarked_S", "Sex_male", "Pclass_2.0", "Pclass_3.0", "Age", "Fare"])

In [63]:
X = df[["Embarked_Q", "Embarked_S", "Sex_male", "Pclass_2.0", "Pclass_3.0", "Age", "Fare"]]
Y = df["Survived"]
X = sm.add_constant(X)
logit_model = Logit(Y,X).fit()
print(logit_model.summary())

Optimization terminated successfully.
         Current function value: 0.462451
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                 1045
Model:                          Logit   Df Residuals:                     1037
Method:                           MLE   Df Model:                            7
Date:                Wed, 05 Dec 2018   Pseudo R-squ.:                  0.3163
Time:                        11:06:00   Log-Likelihood:                -483.26
converged:                       True   LL-Null:                       -706.79
                                        LLR p-value:                 1.912e-92
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.9906      0.412      9.693      0.000       3.184       4.798
Embarked_Q    -1.3939      0.435     -3.208      0.001      -2.246      -0.542
Embarked_S    -0.7321      0.213     -3.436      0.001      -1.150      -0.314
Sex_male      -2.5472      0.171    -14.882      0.000      -2.883      -2.212
Pclass_2.0    -1.0614      0.264     -4.017      0.000      -1.579      -0.543
Pclass_3.0    -2.0489      0.272     -7.537      0.000      -2.582      -1.516
Age           -0.0333      0.006     -5.172      0.000      -0.046      -0.021
Fare          -0.0007      0.002     -0.369      0.712      -0.004       0.003
==============================================================================

Wow all of them are statistically significant except for Fare!

## (c)

Yes because it is significant

## 3.

In [114]:
class logistic_regression:
    def __init__(self, X, Y):
        """
        Parameters:
            X (N,D) ndarray
            Y (N,1) ndarray: Each element is 0 or 1
        """
        self.X = X
        self.Y = Y
        self.w=None
        
    def fit(self):
        """
        fits the stuff
        Returns:
            w (D,1) ndarray
        """
        s = lambda x: np.exp(x) / (1+np.exp(x))
        def neg_likelihood(w):
            wTx = np.array([w@x for x in X])
            return -np.sum(self.Y*np.log(s(wTx))+(1-self.Y)*np.log(1-s(wTx)))
        initial_guess = sm.OLS(Y,X).fit().params
        w = optimize.minimize(neg_likelihood, initial_guess,tol=.001).x
        self.w=w
        return w
        
    def predict_proba(self,x):
        if self.w:
            return 1/(1+np.exp(-np.dot(self.w,x)))
        else:
            raise NotImplemented('You have not fit the data yet')
        
        
    def predict(self,x):
        prob=self.predict_proba(x)
        if prob>.5:
            return 1
        else:
            return 0

In [115]:
df["Constant"] = 1
X = df[["Constant", "Embarked_Q", "Embarked_S", "Sex_male", "Pclass_2.0", "Pclass_3.0", "Age", "Fare"]].values
Y = df["Survived"].values
regressor = logistic_regression(X, Y)
coeff = regressor.fit()

In [116]:
coeff

array([  3.99064256e+00,  -1.39394380e+00,  -7.32149195e-01,
        -2.54720435e+00,  -1.06135934e+00,  -2.04894326e+00,
        -3.33226573e-02,  -6.68490176e-04])

In [117]:
logit_model.params

const         3.990639
Embarked_Q   -1.393944
Embarked_S   -0.732149
Sex_male     -2.547204
Pclass_2.0   -1.061358
Pclass_3.0   -2.048942
Age          -0.033323
Fare         -0.000668
dtype: float64

In [118]:
np.allclose(coeff, logit_model.params)

True

It's the same!

P.S. I got help from Bruce for problem 3.

Also moral support from SMACME and friends